body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#downloadLink {
    display: block;
    margin-top: 20px;
    color: #007BFF;
}

#downloadLink:hover {
    text-decoration: underline;
}
